<header>
    <%- include("partials/header.ejs") %>
</header>

<div>
    <div class="post-wrapper">
        <% if(locals.post) {%>
            <div class="post">
                <div>
                    <h2 class="post-title">
                        <%= post.title %>
                    </h2>
                    <p class="post-content">
                        <%= post.content %>
                    </p>
                </div>
                <div class="post-metadata">
                    <p>
                        <%= new Date(post.created_at).toLocaleDateString()%>
                    </p>
                    <% if(post.updated_at) {%>
                        <p>
                            <% const now=new Date() %>
                                <% const updated_at=new Date(post.updated_at)%>
                                    <% if(now.getDay()===updated_at.getDay()) { %>
                                        <% const currentTime=now.getHours() * 60 * 60 + now.getMinutes() * 60 +
                                            now.getSeconds() %>
                                            <% const updatedTime=updated_at.getHours() * 60 * 60 +
                                                updated_at.getMinutes() * 60 + updated_at.getSeconds() %>
                                                <% const timeDiff=currentTime - updatedTime %>
                                                    <% if(timeDiff> 3600){ %>
                                                        <%= Math.floor(timeDiff / 3600) %>hr(s) ago
                                                            <% } else if(timeDiff> 60) { %>
                                                                <%= Math.floor( timeDiff / 60 ) %>min(s) ago
                                                                    <% } else { %>
                                                                        <%= timeDiff %>s ago
                                                                            <% } %>
                                                                                <% } else {%>
                                                                                    <% const dayDiff=now.getTime() -
                                                                                        updated_at.getTime()%>
                                                                                        <% if((dayDiff / 86400000) < 1)
                                                                                            {%>
                                                                                            <%= Math.floor(dayDiff /
                                                                                                3600000 ) %>hr(s) ago
                                                                                                <% } else { %>
                                                                                                    <%= Math.floor(
                                                                                                        dayDiff/
                                                                                                        86400000) %>
                                                                                                        day(s) ago
                                                                                                        <% } %>
                                                                                                            <% } %>
                                                                                                                <% } %>
                                                                                                                    <% if(isEditable){
                                                                                                                        %>
                                                                                                                        <div
                                                                                                                            class="btn-container">
                                                                                                                            <form
                                                                                                                                method="POST"
                                                                                                                                action="/delete/<%= post.id %>/?_method=DELETE">
                                                                                                                                <input
                                                                                                                                    type="submit"
                                                                                                                                    value="Delete" />
                                                                                                                            </form>
                                                                                                                            <form
                                                                                                                                method="GET"
                                                                                                                                action="/edit/<%= post.id %>">
                                                                                                                                <input
                                                                                                                                    type="submit"
                                                                                                                                    value="Edit">
                                                                                                                            </form>
                                                                                                                        </div>
                                                                                                                        <% }
                                                                                                                            %>
                </div>
            </div>
            <%} else {%>
                <p>Error loading page </p>
                <% } %>
    </div>
</div>

<footer><%- include("partials/footer") %></footer>
</body>