<header>
    <%- include("partials/header.ejs") %>
</header>

<div>
    <div class="post-wrapper">
        <% if(locals.post) {%>
            <div class="post post-edit-form">
                <form action="/update/<%= post.id %>/?_method=PATCH" method="POST">
                    <input type="text" id="title" name="title" value="<%= post.title %>" />
                    <textarea  id="auto-resizing-textarea" name="body"><%= post.content %></textarea>
                    <div class="btn-container">
                        <a class = "cancel-btn" href="/posts/<%= user.username %>/<%= post.id %>"> Cancel </a>
                        <input type="submit" value="Save" />
                    </div>
                </form>
            </div>
            <%} else{ %>
                <p>No post found</p>
                <%}%>
    </div>

    <footer><%- include("partials/footer") %></footer>
    </body>