<header><%- include("partials/header.ejs") %></header>
<div class="posts-wrapper">
    <h1>Your blog timelines</h1>
    <% if(locals.posts.length !==0){ %>
        <div class="posts-container">
            <% posts.map(post=>{ %>
                <div key="<%= post.id %>" class="post-container">
                    <div>
                        <h3>
                            <%= post.title %>
                        </h3>
                        <p>
                            <%= post.content %>
                        </p>
                    </div>
                    <div class="btn-container">
                        <button onclick="handleDelete('<%= post.id%>', this)">Remove</button>
                        <button onclick="startUpdate('<%= post.id %>', this)">Update</button>
                    </div>
                </div>
                <% }) %>
        </div>
        <% } else { %>
            <p class="post-display-message">No post available</p>
            <% } %>
</div>
<footer><%- include("partials/footer") %></footer>