<header><%- include("partials/header.ejs") %></header>
<div class="posts-wrapper">
    <h1>Your blog timelines</h1>
    <% if(locals.posts.length !==0){ %>
        <div class="posts-container">
            <% posts.map(post=>{ %>
                <div key="<%= post.id %>" class="post-container">
                    <div>
                        <h2>
                            <%= post.title %>
                        </h2>
                        <p>
                            <%= post.content %>
                        </p>
                    </div>
                    <div class="btn-container">
                        <form method="POST" action="/delete/<%= post.id %>/?_method=DELETE">
                            <input type="submit" value="Delete" />
                        </form>
                        <form method="POST" action="/edit/<%= post.id %>/?_method=PATCH">
                            <input type="submit" value="Edit">
                        </form>
                    </div>
                </div>
                <% }) %>
        </div>
        <% } else { %>
            <p class="post-display-message">No post available</p>
            <% } %>
</div>
<footer><%- include("partials/footer") %></footer>