<header><%- include("partials/header.ejs") %></header>
<% if(locals.posts){ %>
    <div class="my-post-wrapper">
        <h1>Your blog timelines</h1>
        <% posts.map(post=>{ %>
            <div key="<%= post.id %>" class="post-container">
                <div>
                    <h3>
                        <%= post.title %>
                    </h3>
                    <p>
                        <%= post.body %>
                    </p>
                </div>
                <div class="btn-container">
                    <button onclick="handleDelete('<%= post.id%>', this)">Remove</button>
                    <button>Update</button>
                </div>
            </div>
            <% }) %>
    </div>
    <% } else { %>
        <h1>No posts available</h1>
        <% } %>
            <footer><%- include("partials/footer") %></footer>

            <script>
                function handleDelete(postId, buttonElement) {
                    fetch(`/delete/${postId}`, {
                        method: 'DELETE'
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                // Remove the post element from the DOM
                                const postContainer = buttonElement.closest('.post-container');
                                postContainer.remove();
                            } else {
                                console.error('Failed to delete the post');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                }
            </script>