<header>
    <%- include("partials/header.ejs") %>
</header>
<div class="posts-wrapper">
    <h1>News Feed</h1>
    <% if(locals.posts.length){ %>
        <div class="posts-container">
            <% posts.map(post=>{ %>
                <div data-id="<%= post.id %> " class="post-container">
                    <div>
                        <h2>
                            <%= post.title %>
                        </h2>
                        <p>
                            <%= post.content %>
                        </p>
                    </div>
                    <div class="post-metadata">
                        <p>Created At: <span>
                                <%= post.created_at %>
                            </span></p>
                        <p>Updated At: <span>
                                <%= post.created_at %>
                            </span></p>
                    </div>
                </div>
                <% }) %>
        </div>
        <% } else { %>
            <p class="post-display-message">No post available</p>
            <% } %>
</div>
<footer>
    <%- include("partials/footer.ejs") %>
</footer>
</body>