<header>
    <%- include("partials/header.ejs") %>
</header>
<div class="page-title">
    <h1>News Feed</h1>
</div>
<% if(locals.posts.length){ %>
    <div>
        <div class="posts-wrapper">
            <% posts.map(post=>{ %>
                <div key="<%= post.id %> " class="post-container">
                    <div>
                        <h3>
                            <%= post.title %>
                        </h3>
                        <p>
                            <%= post.content %>
                        </p>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <% } else { %>
        <p class="post-display-message">No post available</p>
        <% } %>
            <footer>
                <%- include("partials/footer.ejs") %>
            </footer>
            </body>