<header>
    <%- include("partials/header.ejs") %>
</header>

<div>
    <div class="post-wrapper">
        <% if(locals.post) {%>
            <div class="post post-<%= post.id %>">
                <div>
                    <h2 class="post-title">
                        <%= post.title %>
                    </h2>
                    <p>
                        <%= post.content %>
                    </p>
                </div>
                <div class="post-metadata">
                    <p> <strong>On: </strong>
                        <%= new Date(post.created_at).toLocaleDateString()%>
                    </p>
                        <div class="btn-container">
                            <form method="POST" action="/delete/<%= post.id %>/?_method=DELETE">
                                <input type="submit" value="Delete" />
                            </form>
                            <form method="GET" action="/edit/<%= post.id %>">
                                <input type="submit" value="Edit">
                            </form>
                        </div>
                </div>
            </div>
            <%} else {%>
                <p>Error loading page </p>
                <% } %>
    </div>
</div>

<footer><%- include("partials/footer") %></footer>
</body>